*{
     padding: 0;
     border: 0;
     box-sizing: border-box;
}

body{
     background-color: hsl(233, 47%, 7%) ;
}
:root{
     --card-width:1100px;
     --card-height:446px;
}
.card{
     width:var(--card-width);
     height: var(--card-height);
     background-color:hsl(244, 38%, 16%);
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     border-radius: 10px;
    
}

.container{
     position: absolute;
     display: flex;
}

.container-text{
     max-width: 400px;
     max-height: 400px;
     padding:30px auto ;
     position: relative;
     left: 50%;
     top: 50%;
     transform: translate(-30%,15%);
}

.card .container .main-text h1{
     font-family: 'Inter', sans-serif;
     color: hsl(0, 0%, 100%);
     font-weight: 700;
}

.container-text .main-text p{
     color: hsla(0, 0%, 100%, 0.75);
     font-family: 'Inter', sans-serif;
     font-weight: 400;
     line-height: 20px;
}

#insights{
     color: hsl(277, 64%, 61%);
}

.img-div{
     background-color: hsl(277, 98%, 35%);
     position: absolute;
     left:  calc((var(--card-width)/100)*51);
     width: calc((var(--card-width)/100)*49);
     height: var(--card-height);
     border-radius:0px 10px 10px 0px;
}

.card .container .img-div img{
     background-image: url(./images/image-header-desktop.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     width: calc((var(--card-width)/100)*49);
     height: var(--card-height);
     border-radius:0px 10px 10px 0px;
     opacity: 0.6;
     border: 0;
}

.img-div-mobile{
     background-color: hsl(277, 98%, 35%);
     position: absolute;
     height: var(--card-height);
     border-radius:0px 10px 10px 0px;
}

.img-div-mobile img{
     background-image: url(./images/image-header-mobile.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.6;
     border: 0;
}

.img-div-mobile{display: none;}

.headings{
     display: flex;
     justify-content: space-between;
     margin-top: calc( (var(--card-height)/100) * 10 ) ;
}

.heading-title{
     font-family: 'Inter', sans-serif;
     font-weight: 700;
     font-size: 25px;
     color: hsl(0, 0%, 100%);
}

.heading-sub{
     font-family: 'Inter' , sans-serif;
     font-weight: 400;
     font-size: 15px;
     color:  hsla(0, 0%, 100%, 0.6);
     margin-top: -15px;
}


/*Media querys*/

@media screen and (max-width: 1024px) and (max-height:768px)  {
     :root{
          --card-width:950px;
          --card-height:446px;
     }

     .container-text{
          max-width: 400px;
          max-height: 400px;
          padding:30px auto ;
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-40%,20%);
     }

     .card .container .main-text h1{
          font-family: 'Inter', sans-serif;
          color: hsl(0, 0%, 100%);
          font-weight: 700;
          font-size: 30px;
     }
}

@media screen and (max-width: 540px) {
     :root{
          --card-width:300px;
          --card-height:625px;
     }
     .container{display: block;
      
     }

     .container-text{
          display: block;
     }
     .headings{
          display: block;
          text-align: center;
     }

     .img-div{
          display: none;
     }

     .img-div-mobile{
          position: absolute;
          display: block;
          right: 0;
          top: 0;
          width: var(--card-width);
          height: 150px;
          border-radius: 10px 10px 0 0;
     }

     .img-div-mobile img{
          width: var(--card-width);
          height: 150px;
          border-radius: 10px 10px 0 0;
     }

     .container-text{
          max-width: 400px;
          max-height: 400px;
          align-items: center;
          padding:45px auto ;
          position: relative;
          top: 70%;
          margin-top: 95px;
     }

     .headings{
          display: block;
          margin-top: calc( (var(--card-height)/100) * 5 ) ;
          text-align: center;
          margin-left: -60px;
     }

     .card .container .main-text h1{
          font-family: 'Inter', sans-serif;
          color: hsl(0, 0%, 100%);
          font-weight: 700;
          font-size: 25px;
           margin-top: calc( (var(--card-height)/100) * 5 ) ;
          max-width:250px;
          text-align: center;
     }

     .container-text .main-text p{
          color: hsla(0, 0%, 100%, 0.75);
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          text-align: center;
          margin-left: -60px;
          padding: 0 90px;
     }

     
}